.nav {
  width: 15%;
  min-width: 140px;
  color: $primary-color;
  padding-top: 55px;
  padding-right: 30px;
  text-align: center;

  h4 {
  -webkit-margin-before: 0;
  margin-left: 50px;
  }
// link color
  a:link {
    color: $primary-color;
    text-decoration: none;
  }
  // after clicking on link
  a:visited {
    color: $primary-color;
    text-decoration: none;
  }
  // hovering mouse over link
  a:hover {
    text-decoration: underline;
    color: $primary-color;
   }
  }